option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "examPortal.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "examPortal.wsgi:application"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/api"
    MatcherHTTPCode: "200-499"
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:443:
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:elasticloadbalancing:ap-south-1:339872277222:loadbalancer/app/awseb-AWSEB-1VTC79HICUM92/1bb9beb6ae8b23fc

packages:
  yum:
    amazon-linux-extras: []