container_commands:
  00_pip_upgrade:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
    ignoreErrors: false
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
  02_epel:
    command: 'sudo amazon-linux-extras install -y epel'
  03_supervisor_install:
    command: 'sudo yum -y install supervisor'
  04_supervisord.conf:
    command: 'sudo echo_supervisord_conf > /etc/supervisord.conf'
  05_supervisord:
    command: '/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervisor_daemon.sh'