option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "examPortal.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "examPortal.wsgi:application"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/api"
    MatcherHTTPCode: "200-499"
  aws:elbv2:listener:80:
    ListenerEnabled: 'true'
    Protocol: HTTP
  aws:elbv2:listener:5000:
    ListenerEnabled: 'true'
    Protocol: HTTP

packages:
  yum:
    amazon-linux-extras: []