{% extends 'examPortalApp/body.html' %}

{% block sidepane %}
{% if user.user_type == 'participant' %}
<div id="members">
  <h3>Team id:</h3>
  <h4>{{team.team_id}}</h4>
  <br>
  <h3>Team members:</h3>
  <div class="members">
    {% for member in team.users.all %}
    {{member}}<br>
    {% endfor %}
  </div>
</div>
<br><hr><br>
{% endif %}
<ul class="list-group">
  <li class=""><a href="http://mimamsa.iiserpune.ac.in">Official Mimamsa website</a></li>
  <li><a href="{% url 'instructions' %}">How to use the portal</a></li>
  <li class=""><a href="{% url 'logout' %}">Log Out</a></li>
</ul>
<br><hr><br>
<div style="color: #777; padding: 20px; font-size: 14px">
  The making of this portal was led by Jezer Jojo with the immense support of Parth Gupte and Samarth Pardhi, along with contributions from Venkata Sai Sreyas Adury and Ipsa Bezbarua
</div>
<br><br><br>
{% endblock %}

{% block content %}
  <div class="fluid-container">
    <div class="login">
      <h2 style="text-align: left; padding: 10vw 0 0 10vw">Dashboard</h2>
      <br>
      <p style="padding: 20px; padding: 0 0 10vw 10vw">
        {% if user.user_type == 'participant' %}
        {% if team.finished %}
        <a href="{% url 'test_no' %}">Feedback form</a>
        <br>
        {% else %}
        {% if user.entered_test %}
        The exam is already open on a different device (Click <a href="{% url 'test_changedevice' %}">here</a> if this isn't the case)
        {% else %}
        <a href="{% url 'test_no' %}">Open Test</a>
        {% endif %}
        <br>
        <a href="{% url 'upload_page' %}">Upload answers</a>
        <br>
        {% endif %}
        {% endif %}
        {% if user.user_type == 'proctor' %}
        {% if team.finished %}
        Exam is over
        {% else %}
        <a href="{% url 'proctor_view' %}">Proctor dashboard</a>
        <br>
        {% endif %}
        {% endif %}
        <a href="{% url 'instructions' %}">Exam portal instructions</a>
        <br>
        <a href="{% url 'change_password' %}">Change Password</a>
        <br>
        {% if user.username == 'admin' %}
        <a href="{% url 'correction_subject' %}">Correction Portal</a>
        <br>
        <a href="{% url 'mail_change' %}">Change user email ID</a>
        <br>
        <a href="{% url 'update_accounts' %}">Update registrations</a>
        <br>
        <a href="{% url 'password_list' %}">List of unset passwords</a>
        <br>
        <a href="{% url 'questionportal' page=1 %}">Question Portal</a>
        <br>
        {% endif %}
        <a href="{% url 'logout' %}">Log Out</a>
      </p>

    </div>
  </div>

{% endblock %}
