{% extends 'examPortalApp/body.html' %}
{% block content %}
  <div class="fluid-container">
    <div class="login">
      <h2>Dashboard</h2>

      <a href="{% url 'test_no' qnumber=1 %}">Open Test</a>
      <br>
      <a href="{% url 'change_password' %}">Change Password</a>
      <br>
      {% if user.username == 'admin' %}
      <a href="{% url 'update_accounts' %}">Update registrations</a>
      <br>
      <a href="{% url 'questionportal' page=1 %}">Question Portal</a>
      <br>
      {% endif %}
      <a href="{% url 'logout' %}">Log Out</a>

    </div>
  </div>

{% endblock %}
