{% extends 'examPortalApp/body.html' %}

{% block content %}
<br><br><br><br>
  <div class="fluid-container" style="margin-top: 40px">
    <div class="login">
      <h2>Change email</h2>

      <form action="{% url 'mail_change' %}" method="post" style="width: 320px; margin-left: 50%; transform: translateX(-50%);">
        {% csrf_token %}
        <div class="form-group">
          <input autofocus class="form-control" type="text" name="sequence" placeholder="Sequence">
        </div>
        <div class="form-group">
          <input autofocus class="form-control" type="text" name="order_index" placeholder="Order index">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="new_email" placeholder="New email">
        </div>
        <input class="btn btn-primary" type="submit" value="Change">
      </form>
    </div>
  </div>

{% endblock %}
