{% extends 'examPortalApp/body.html' %}
{% load static %}
{% block script %}
<script type="text/javascript">
  const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
  const logSocket = new WebSocket(
    ws_scheme+'://'
    + window.location.host
    + '/ws/log/{{team.sequence}}/'
  );

  function makeid(length) {
    var result = [];
    var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
    var charactersLength = characters.length;
    for ( var i = 0; i < length; i++ ) {
      result.push(characters.charAt(Math.floor(Math.random() * charactersLength)));
    }
    return result.join('');
  }

  function submitChatInput(e) {
    if (e.keyCode === 13) {  // enter, return
      document.querySelector('#chatbox-{{team.team_id}}-submit').click();
    }
  }

  const chatSocket = new WebSocket(
    ws_scheme+'://'
    + window.location.host
    + '/ws/chat/{{team.sequence}}/'
  );

  var sentTexts =[]



  chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    console.log(data);
    if (sentTexts.includes(data.code)) {
      document.querySelector('.'+data.code).style.color="black";
      const index = sentTexts.indexOf(data.code);
      sentTexts.splice(index, 1);
    }
    else {
      document.querySelector('.chatbox-{{team.team_id}}-logs').innerHTML += ('<div class="'+data.code+'"><b>'+data.username+'</b>: '+ data.message + '</div>');
      document.querySelector('.'+data.code).scrollIntoView({ behavior: "smooth", block: "end" });
    }
  };

  logSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    alert(data.log);
  }

  chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  };



  const startSocket = new WebSocket(
    ws_scheme+'://'
    + window.location.host
    + '/ws/test/{{team.sequence}}/'
  );
  document.addEventListener("DOMContentLoaded", ()=>{
    document.getElementById('start-btn').onclick=()=>{
      console.log("button clicked");
      startSocket.send(JSON.stringify({
        "message": "start",
      }));
    }
    document.querySelector('.chatbox-{{team.team_id}}-logs').innerHTML="";
    {% for log in chat_logs %}
    document.querySelector('.chatbox-{{team.team_id}}-logs').innerHTML+="<div><b>{% if log.0 == team.proctor_user.username %}Proctor{% else %}{{log.0}}{% endif %}:</b>"+" {{log.1}}</div>";
    {% endfor %}
    if (document.querySelector('.chatbox-{{team.team_id}}-logs').lastElementChild) {
      document.querySelector('.chatbox-{{team.team_id}}-logs').lastElementChild.scrollIntoView({ behavior: "smooth", block: "end" });
    }

    var chatInput=document.querySelector('#chatbox-{{team.team_id}}-input');
    chatInput.addEventListener("keyup", submitChatInput);

    document.querySelector('#chatbox-{{team.team_id}}-submit').onclick = function(e) {
      const message = chatInput.value;
      console.log(message);
      if (message.trim()) {
        code=makeid(8);
        document.querySelector('.chatbox-{{team.team_id}}-logs').innerHTML += ('<div class="'+code+'" style="color: #888"><b>{{user.username}}</b>: '+ message.trim() + '</div>');
        document.querySelector('.'+code).scrollIntoView();
        chatSocket.send(JSON.stringify({
          "message": message.trim(),
          "username":"{{user.username}}",
          "code": code
        }));
      }
      chatInput.value = '';
      sentTexts.push(code);
    };
  });

</script>

{% endblock %}

{% block content %}
  <div class="fluid-container">
    <h2>{{team.team_id}}</h2>
    <div id="videos-container">
      {% for ordering in team.ordering_set.all %}
      <div class="video-container video-container-{{team.team_id}}-{{ordering.order_index}}" style="color: white">
        <video autoplay id="video-{{team.team_id}}-{{ordering.order_index}}">
        </video>
        <br>&nbsp;{{ordering.user_instance.username}}<br><br>
      </div>
      {% endfor %}
    </div>
    <div style="text-align: center">
      <br>
      <button id="start-btn" type="button" name="button">Start Exam</button>
      <br>
    </div>
    <div class="chatbox-{{team.team_id}}">
      <div class="chatbox-{{team.team_id}}-logs">
      </div>
      <input id="chatbox-{{team.team_id}}-input" type="text" name="" value=""><br>
      <input id="chatbox-{{team.team_id}}-submit" type="button" value="Send">
    </div>
  </div>

  <script src="{% static 'examPortalApp/js/simplepeer.min.js' %}" integrity="sha512-0f7Ahsuvr+/P2btTY4mZIw9Vl23lS6LY/Y7amdkmUg2dqsUF+cTe4QjWvj/NIBHJoGksOiqndKQuI9yzn2hB0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    const videoSignalSocket = new WebSocket(
      ws_scheme+'://'
      + window.location.host
      + '/ws/video-signal/{{team.sequence}}/'
    );

    /**
     * The stream object used to send media
     */
    /**
     * All peer connections
     */
    let peers = {}


    //////////// CONFIGURATION //////////////////

    /**
     * RTCPeerConnection configuration
     */
    const configuration = {
      iceservers: [
        {
          url: 'turn:52.66.187.16:3478',
          username: 'mimamsa',
          credential: 'mimamsa',
        },

        {
          urls: ["stun:stun.l.google.com:19302", "stun:stun1.l.google.com:19302", "stun:stun2.l.google.com:19302", "stun:stun3.l.google.com:19302", "stun:stun3.l.google.com:19302"]
        }
      ]
    }

    /**
     * UserMedia constraints
     */
    document.addEventListener("DOMContentLoaded", ()=>{
      init()
    });

    /**
     * initialize the socket connections
     */
    function init() {
        console.log("init");
        videoSignalSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          if (data.message == "initReceive") {
            console.log('INIT RECEIVE ' + data.id)
            addPeer(data.id, false)
            videoSignalSocket.send(JSON.stringify({
              "message": 'initSend',
              "id":data.id,
            }));
          }
          else if (data.message == 'initSend') {
            console.log('INIT SEND ' + data.id)
            addPeer(data.id, true)
          }
          else if (data.message == 'removePeer') {
            console.log('removing peer ' + data.id)
            removePeer(data.id)
          }
          else if (data.message == 'disconnect') {
            console.log('GOT DISCONNECTED')
            for (let id in peers) {
              removePeer(id)
            }
          }
          else if (data.message == 'signal') {
            peers[data.id].signal(data.signal)
          }
        }
    }


    function removePeer(id) {

        let videoEl = document.getElementById(id)
        if (videoEl) {

            const tracks = videoEl.srcObject.getTracks();

            tracks.forEach(function (track) {
                track.stop()
            })

            videoEl.srcObject = null
        }
        if (peers[id]) peers[id].destroy()
        delete peers[id]
    }


    function addPeer(id, am_initiator) {
        peers[id] = new SimplePeer({
            initiator: am_initiator,
            stream: null,
            config: configuration
        })

        peers[id].on('signal', data => {
            videoSignalSocket.send(JSON.stringify({
              "message": 'signal',
              "signal": data,
              "id": id,
            }));
        })

        peers[id].on('stream', stream => {
            let newVid = document.getElementById(id)
            newVid.srcObject = stream
            newVid.playsinline = false
            newVid.autoplay = true
            newVid.className = "vid"
        })
    }
  </script>
{% endblock %}
