{% extends 'examPortalApp/body.html' %}


{% block script %}
  <script type="text/javascript">
    function toggleEditBox(ele) {
      if (ele.classList.contains("edit-link")) {
        var question = ele.parentElement.parentElement;
        var id = (question.id).substring(8);
        var contentEle = document.getElementById(("question-content-").concat(id));
        var date = document.getElementById(("date-").concat(id));
        var oldContent = contentEle.innerHTML;
        var subjectEle = document.getElementById(("question-subject-").concat(id));
        var qnumber = parseInt(document.getElementById(("qnumber-").concat(id)).innerHTML);
        if (document.getElementById(("editForm").concat(id)) == null) {
          //Create Form

          //Init form
          var f = document.createElement("form");
          f.setAttribute('method', "post");
          f.setAttribute('action', '{% url 'edit_question' %}');
          f.innerHTML = '{% csrf_token %}';
          f.innerHTML += "<label for='qnumber'>Question number: </label>\n<input type='number' id='qnumber' name='qnumber' min='1' max='{{QCount}}' value='" + qnumber.toString() + "'>";
          f.innerHTML += "<input type='hidden' name='id' value='" + id + "'>";
          f.id = ("editForm").concat(id);
          f.classList.add('editForm');
          //Init form elements
          var newSubject = document.createElement("select");
          newSubject.innerHTML = '<option value="Physics">Physics</option><option value="Math">Math</option><option value="Biology">Biology</option><option value="Chemistry">Chemistry</option>';
          newSubject.name = "subject";
          var newContent = document.createElement("textarea");
          newContent.innerHTML = oldContent.trim();
          newContent.name = "content";
          newContent.classList.add('editFormText');
          newContent.style.marginTop = "10px";
          var br = document.createElement("br");
          var submit = document.createElement("input");
          submit.type = "submit";
          submit.name = "submit";
          submit.value = "Post Changes";
          submit.classList.add('editFormSubmit');
          submit.classList.add('btn');
          submit.classList.add('btn-outline-dark');
          submit.style.margin = "10px";
          submit.style.marginLeft = "0";
          var cancel = document.createElement("button");
          cancel.innerHTML = "Cancel";
          cancel.setAttribute('onclick', "toggleEditBox(this)");
          cancel.id = ("cancel").concat(id);
          cancel.classList.add('editFormCancel');
          cancel.classList.add('btn');
          cancel.classList.add('btn-outline-dark');
          cancel.style.margin = "10px";
          cancel.style.marginLeft = "0";
          //Add form elements to form
          f.appendChild(newSubject);
          f.innerHTML += "<br>";
          f.appendChild(newContent);
          f.appendChild(br);
          f.appendChild(submit);
          f.appendChild(cancel);

          question.insertBefore(f, ele.parentElement);
          f.parentElement.innerHTML += '<button id="del' + id + '" onclick="delQ(this)">Delete</button>';
          contentEle.style.display = "none";
          subjectEle.style.display = "none";
        }
        else {
          document.getElementById(("cancel").concat(id)).click();
        }
      }
      else {
        var question = ele.parentElement.parentElement;
        var id = (question.id).substring(8);
        var contentEle = document.getElementById(("question-content-").concat(id));
        var subjectEle = document.getElementById(("question-subject-").concat(id));
        var form = document.getElementById(("editForm").concat(id))
        contentEle.style.display = "block";
        subjectEle.style.display = "block";
        question.removeChild(form);
        question.removeChild(document.getElementById('del'+id));
      }
    }

    // The following function are copying from
    // https://docs.djangoproject.com/en/dev/ref/csrf/#ajax
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }

    async function delQ(btn) {
      let csrftoken = getCookie('csrftoken');
      let response = await fetch("{% url 'del_question' %}", {
        method: 'POST',
        body: JSON.stringify({ "id": btn.id.substring(3) }),
        headers: {
          'Content-Type': 'application/json',
          "X-CSRFToken": csrftoken
        },
      })
      if (response.status == 201) {
        location.reload();
      }
      else {
        console.log("Woop doop");
        var small = document.createElement("small");
        small.innerHTML = "<i>Something went wrong </i>";
        contentEle.parentElement.insertBefore(small, contentEle.nextElementSibling);
      }
    }

    function addMCQSet(btn) {
      var set_count=parseInt(btn.previousElementSibling.id.substr(8))+1;
      var new_set=document.createElement('DIV');
      new_set.id="mcq-set-"+(set_count).toString();
      new_set.innerHTML=
      '<div id="mcq-set-'+(set_count).toString()+'">'+
        '<div class="mcq-options">'+
          '<input type="text" name="mcq-set-'+(set_count).toString()+'-label" value="" placeholder="Label for the following set of choices (Optional)">'+
          '<br><input id="mcq-'+(set_count).toString()+'-1" type="text" name="opt-'+((set_count)*4+1)+'" value="" placeholder="Option A"> <input type="checkbox" name="correct_'+((set_count)*4+1)+'" value="1">'+
          '<br><input id="mcq-'+(set_count).toString()+'-2" type="text" name="opt-'+((set_count)*4+2)+'" value="" placeholder="Option B"> <input type="checkbox" name="correct_'+((set_count)*4+2)+'" value="2">'+
          '<br><input id="mcq-'+(set_count).toString()+'-3" type="text" name="opt-'+((set_count)*4+3)+'" value="" placeholder="Option C"> <input type="checkbox" name="correct_'+((set_count)*4+3)+'" value="3">'+
          '<br><input id="mcq-'+(set_count).toString()+'-4" type="text" name="opt-'+((set_count)*4+4)+'" value="" placeholder="Option D"> <input type="checkbox" name="correct_'+((set_count)*4+4)+'" value="4">'+
        '</div><br>'+
      '</div>';
      btn.parentElement.insertBefore(new_set, btn);
      btn.nextElementSibling.nextElementSibling.disabled=false;
    }

    function removeMCQSet(btn) {
      btn.previousElementSibling.previousElementSibling.previousElementSibling.remove();
      if (btn.previousElementSibling.previousElementSibling.previousElementSibling.id.substr(8)==0)
      {
        btn.disabled=true;
      }
    }

    function removeTTOption(btn) {
      btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.remove();
      btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.remove();
      btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.remove();
      if (parseInt(btn.previousElementSibling.previousElementSibling.previousElementSibling.previousElementSibling.value)<=2)
      {
        btn.disabled=true;
      }
    }

    function addTTOption(btn) {
      var opt_count=parseInt(btn.previousElementSibling.previousElementSibling.previousElementSibling.id.substr(7));
      btn.insertAdjacentHTML('beforebegin', '<input id="tt-opt-'+(opt_count+1).toString()+'" type="text" name="opt-'+(opt_count+1).toString()+'" value="" placeholder="Option '+(opt_count+1).toString()+'"> <input type="checkbox" name="correct_'+(opt_count+1).toString()+'" value="'+(opt_count+1).toString()+'"> <br>'); //Holy shit this makes things easier
      btn.nextElementSibling.nextElementSibling.disabled=false;
    }

    function activateSub() {
      document.getElementById('subjectiveQ-form').style.display="block";
      document.getElementById('MCQ-form').style.display="none";
      document.getElementById('TT-form').style.display="none";
      document.getElementById('s-tab').classList.add('active');
      document.getElementById('m-tab').classList.remove('active');
      document.getElementById('t-tab').classList.remove('active');
      return false;
    }

    function activateMCQ() {
      document.getElementById('subjectiveQ-form').style.display="none";
      document.getElementById('MCQ-form').style.display="block";
      document.getElementById('TT-form').style.display="none";
      document.getElementById('s-tab').classList.remove('active');
      document.getElementById('m-tab').classList.add('active');
      document.getElementById('t-tab').classList.remove('active');
      return false;
    }

    function activateTT() {
      document.getElementById('subjectiveQ-form').style.display="none";
      document.getElementById('MCQ-form').style.display="none";
      document.getElementById('TT-form').style.display="block";
      document.getElementById('s-tab').classList.remove('active');
      document.getElementById('m-tab').classList.remove('active');
      document.getElementById('t-tab').classList.add('active');
      return false;
    }

  </script>
{% endblock %}

{% block content %}

  <div class="fluid-container">
    <div id="new-question">
      <h3>New Question: </h3>
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a id="s-tab" class="nav-link active" aria-current="true" onclick="activateSub()" href="#">Subjective</a>
            </li>
            <li class="nav-item">
              <a id="m-tab" class="nav-link" aria-current="true" onclick="activateMCQ()" href="#">MCQ</a>
            </li>
            <li class="nav-item">
              <a id="t-tab" class="nav-link" aria-current="true" onclick="activateTT()" href="#">Train of Thought</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div id="subjectiveQ-form">
            <h5 class="card-title">Subjective Question</h5>
            <form action="{%url 'post_question'%}" method="post" autocomplete="off">
              {% csrf_token %}
              <input type="hidden" name="qtype" value="s">
              <select name="subject">
                <option value="Physics">Physics</option>
                <option value="Math">Math</option>
                <option value="Biology">Biology</option>
                <option value="Chemistry">Chemistry</option>
              </select>
              <br>
              <textarea style="resize: both" name="content" rows="8" cols="50"></textarea>
              <br>
              <input class="btn btn-primary" type="submit" value="Submit">
            </form>
          </div>
          <div id="MCQ-form" style="display: none">
            <h5 class="card-title">MCQ</h5>
            <form action="{%url 'post_question'%}" method="post" autocomplete="off">
              {% csrf_token %}
              <input type="hidden" name="qtype" value="m">
              <select name="subject">
                <option value="Physics">Physics</option>
                <option value="Math">Math</option>
                <option value="Biology">Biology</option>
                <option value="Chemistry">Chemistry</option>
              </select>
              <br>
              <textarea style="resize: both" name="content" rows="8" cols="50"></textarea>
              <div id="mcq-set-0">
                <input type="text" name="mcq-set-0-label" value="" placeholder="Label for the following set of choices (Optional)">
                <div class="mcq-options">
                  <input id="mcq-0-1" type="text" name="opt-1" value="" placeholder="Option A"> <input type="checkbox" name="correct_1" value="1">
                  <br>
                  <input id="mcq-0-2" type="text" name="opt-2" value="" placeholder="Option B"> <input type="checkbox" name="correct_2" value="2">
                  <br>
                  <input id="mcq-0-3" type="text" name="opt-3" value="" placeholder="Option C"> <input type="checkbox" name="correct_3" value="3">
                  <br>
                  <input id="mcq-0-4" type="text" name="opt-4" value="" placeholder="Option D"> <input type="checkbox" name="correct_4" value="4">
                </div><br>
              </div>
              <button type="button" name="button" onclick="addMCQSet(this)">Add a set</button>
              <br>
              <button disabled type="button" name="button" onclick="removeMCQSet(this)">Remove a set</button>
              <br>
              <input class="btn btn-primary" type="submit" value="Submit">
            </form>
          </div>
          <div id="TT-form" style="display: none">
            <h5 class="card-title">Train of Thought</h5>
            <form action="{%url 'post_question'%}" method="post" autocomplete="off">
              {% csrf_token %}
              <input type="hidden" name="qtype" value="t">
              <select name="subject">
                <option value="Physics">Physics</option>
                <option value="Math">Math</option>
                <option value="Biology">Biology</option>
                <option value="Chemistry">Chemistry</option>
              </select>
              <br>
              <textarea style="resize: both" name="content" rows="8" cols="50"></textarea>
              <div class="tt-options">
                <input id="tt-opt-1" type="text" name="opt-1" value="" placeholder="Option 1"> <input type="checkbox" name="correct_1" value="1">
                <br>
                <input id="tt-opt-2" type="text" name="opt-2" value="" placeholder="Option 2"> <input type="checkbox" name="correct_2" value="2">
                <br>
                <input id="tt-opt-3" type="text" name="opt-3" value="" placeholder="Option 3"> <input type="checkbox" name="correct_3" value="3">
                <br>
                <input id="tt-opt-4" type="text" name="opt-4" value="" placeholder="Option 4"> <input type="checkbox" name="correct_4" value="4">
                <br>
                <button type="button" name="button" onclick="addTTOption(this)">Add option</button>
                <br>
                <button type="button" name="button" onclick="removeTTOption(this)">Delete option</button>
              </div>
              <input class="btn btn-primary" type="submit" value="Submit">
            </form>
          </div>
        </div>
        </div>
      </div>


    <!-- QUESTIONS -->

    <div id="questions">
      {% for question in questions%}
      <div class="question" id="question{{question.pk}}">
        <h2 class="question-heading" id="question-heading-{{question.pk}}">Question <span id="qnumber-{{question.pk}}">{{question.question_number}}</span></h2>
        <small class="question-subject" id="question-subject-{{question.pk}}">{{question.question_subject}}</small>
        <br>
        <div class="question-content" id="question-content-{{question.pk}}">
          {{question.question_content|safe}}
        </div>
        {% if user.username == "admin" %}
        <span data-active="0" class="edit"><a href="#" class="edit-link"
            onclick="toggleEditBox(this); return false;">Edit</a></span>
        {% endif %}

        <br>
      </div>
      {% empty %}
      <i>Looks like there aren't any questions here yet</i>
      {% endfor %}
    </div>


    <!-- PAGINATION -->


    {% if pagecount > 1 %}
    <nav>
      <ul class="pagination justify-content-center">
        {% if page == 1 %}
        <li class="page-item disabled">
          {% else %}
        <li class="page-item">
          {% endif %}
          <a class="page-link" href="{% url 'questionportal' page=page|add:" -1" %}" tabindex="-1"
            aria-disabled="true">Previous</a>
        </li>

        {% with ''|center:pagecount as range %}
        {% for _ in range %}
        <li class="page-item{% if forloop.counter == page %} active{% endif %}"><a class="page-link"
            href="{% url 'questionportal' page=forloop.counter %}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% endwith %}

        {% if page == pagecount %}
        <li class="page-item disabled">
          {% else %}
        <li class="page-item">
          {% endif %}
          <a class="page-link" href="{% url 'questionportal' page=page|add:" 1" %}">Next</a>
        </li>
      </ul>
    </nav>
    {% endif %}
  </div>

{% endblock %}
