{% extends 'examPortalApp/body.html' %}

{% block script %}

  <script type="text/javascript">
    function clearUpload() {
      f = document.querySelector("#fileFieldWrapper input")
      if (f.value) {
        try {
          f.value = ''; //for IE11, latest Chrome/Firefox/Opera...
        } catch (err) { }
        if (f.value) { //for IE5 ~ IE10
          var form = document.createElement('form'),
            parentNode = f.parentNode, ref = f.nextSibling;
          form.appendChild(f);
          form.reset();
          parentNode.insertBefore(f, ref);
        }
      }
    }
  </script>

{% endblock %}

{% block content %}

  <div class="container">
    <form action="{% url 'update_accounts' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="fieldWrapper" id="fileFieldWrapper">
        <label for="id_file">CSV of registration sheet:</label>
        <input type="file" name="file" required="" id="id_file">
      </div>
      <button type="button" name="button" onclick="clearUpload()">Clear upload</button>
      <input type="submit" name="" value="Submit">
    </form>
  </div>

{% endblock %}
