{% extends 'examPortalApp/body.html' %}
{% load static %}

{% block script %}
<script type="text/javascript">
  if (location.protocol !== 'https:') {
    location.replace(`https:${location.href.substring(location.protocol.length)}`);
  }
  function closePopup(ele) {
    ele.closest('.popup').style.display="none";
  }
  document.addEventListener("DOMContentLoaded", ()=>{
    document.getElementById('open-cam-btn').onclick = ()=>{
      openCameraPopup();
      camStartup();
    };
  })
  function openCameraPopup() {
    document.getElementById('camera-popup').style.display="block";
  }
  document.getElementById('close-cam-btn').onclick = closePopup.bind(this, document.getElementById('close-cam-btn'));
  function b64toBlob(b64Data, contentType, sliceSize) {
    contentType = contentType || '';
    sliceSize = sliceSize || 512;

    var byteCharacters = atob(b64Data);
    var byteArrays = [];

    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
      var slice = byteCharacters.slice(offset, offset + sliceSize);

      var byteNumbers = new Array(slice.length);
      for (var i = 0; i < slice.length; i++) {
        byteNumbers[i] = slice.charCodeAt(i);
      }

      var byteArray = new Uint8Array(byteNumbers);

      byteArrays.push(byteArray);
    }

    var blob = new Blob(byteArrays, {type: contentType});
    return blob;
  }

  function sendWebcamData(data) {
    var ImageURL=data
    console.log(ImageURL);
    var block = ImageURL.split(";");
    // Get the content type of the image
    var contentType = block[0].split(":")[1];// In this case "image/gif"
    // get the real base64 content of the file
    var realData = block[1].split(",")[1];// In this case "R0lGODlhPQBEAPeoAJosM...."

    // Convert it to a blob to upload
    var blob = b64toBlob(realData, contentType);
    console.log(blob);

    var redirect = function(url, method) {
      var form = document.createElement('form');
      form.method = method;
      form.action = url;
      form.enctype="multipart/form-data";
      form.innerHTML+='<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">';
      var input1 = document.createElement('input');
      input1.type = 'hidden';
      input1.name = "qnumber";
      input1.value = currentQNo;
      form.appendChild(input1);
      let file = new File([blob], "img.jpg",{type:"image/jpeg", lastModified:new Date().getTime()});
      let container = new DataTransfer();
      container.items.add(file);
      var input2 = document.createElement('input');
      input2.type = 'file';
      input2.name = "file";
      input2.files = container.files;
      form.appendChild(input2);
      document.body.appendChild(form);
      // form.submit();
      fetch(form.action, {
        method: form.method,
        body: new FormData(form),
      })
      .then(()=>{
        unsaved=false;
        document.getElementById('loading-overlay').style.display="none";
        getQuestion(currentQNo);
      });
    };

    redirect('{% url 'upload_answer' %}', 'post');
  }
</script>
{% endblock %}

{% block content %}
<div id="camera-popup" class="popup">
  <div class="popup-message">
    <div class="camera">
      <video id="video">Video stream not available.</video>
    </div>
    <div><button id="startbutton">Take photo</button></div>
    <div><button id="upload-photo-btn">Upload photo</button></div>
    <canvas id="canvas"></canvas>
    <div class="output">
      <img id="photo" alt="The screen capture will appear in this box.">
    </div>
    <button class="close-popup" id="close-cam-btn" type="button" name="button">Close</button>
  </div>
</div>
<div class="fluid-container">
  <h2>Upload answers as images (PDFs do not work)</h2>
  <div id="img-upload-tab-body">
    <form class="answer-section-form" id="img-form" action="{% url 'upload_answer' %}" method="post" enctype="multipart/form-data">
      <label for="id_file"><b>Question number: </b></label>
      <input id="qnumber" type="number" name="qnumber" min='1' max='{{QCount}}' value="{{qnumber}}">
      <div class="fieldWrapper" id="fileFieldWrapper">
        <label for="id_file"><b>Upload answers:</b></label>
        <br>
        <input type="file" name="file" required id="id_file" accept="image/*">
      </div>
      <input id="img-form-submit-btn" type="submit" name="" value="Upload">
    </form>
    <br>
    <button id="open-cam-btn" type="button">Use webcam</button>
    <br><br>
  </div>
</div>

<script type="text/javascript" src="{% static 'examPortalApp/js/camera.js' %}"></script>
{% endblock %}
